# Python stuff
*.pyc
__pycache__/

# Distutils
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Get rid of cache.
.cache/

# Test data
/*.csv
/lp.json
/lp.json.xz
lp.corpus
gunicorn-*.log
lp_big.json
lp_big.sqlite

*.kate-swp
