################################################################################
# REST API endpoints                                                           #
################################################################################
[partycrasher.http]

# The prefix added to EVERY endpoint.
prefix = /


################################################################################
# Bucketing                                                                    #
################################################################################
[partycrasher.bucket]

# A list of selectable buckets thresholds. For every report uploaded,
# PartyCrasher will provide bucket assignments for each threshold provided
# in this list. The range is between 1.0 and 10.0:
#
#  - 1.0 means that all reports should be placed in one bucket;
#  - 10.0 means that all reports should be in a bucket of their own.
#
# Empirically, values between 3.5 and 4.5 seem to be the most useful.
# <https://peerj.com/preprints/1705/>
thresholds = 1.0 2.0 3.0 4.0 5.0 6.0 7.0 8.0 9.0 10.0 11.0
# The default threshold when simply querying for a report's bucket assignment.
# Using [index_method=CamelCase], [index_stackframe=true], and
# [index_context=true], 4.0 was empirically determined to be the most
# reasonable default.
# <https://peerj.com/preprints/1705/>
default_threshold = 4.0


# The only option available is MLTCamelCase.
tokenization = partycrasher.bucketer.MLTCamelCase

# Configuration options for MLTCamelCase
enable_auto_max_query_terms = False
initial_mlt_max_query_terms = 25
auto_max_query_term_minimum_documents = 10
auto_max_query_term_maximum_documents = 1000
mlt_min_score = 1.0
strictly_increasing = False


################################################################################
# ElasticSearch                                                                #
################################################################################
[partycrasher.elastic]

hosts = localhost:9200
allow_delete_all = no
indexbase = crashes
