/*
 * Derived from:
 * http://getbootstrap.com/examples/dashboard/dashboard.css
 */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a,
.nav-sidebar > li > div {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li.active {
  background-color: #428bca;
}
.nav-sidebar > li > div {
  padding-bottom: 10px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

a[href=''] {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Stacktrace styles. */
.stack-traces {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.stack-traces > .stack-trace-panel {
    flex: 1;
    overflow-y: scroll;
    max-width: 32%;
}

.stack-frame {
  display: list-item;
  list-style: decimal inside;
}

.stack-frame > .dl-x {
  display: inline-block;
  vertical-align: top;
}

.mini.stack-trace {
    max-height: 30em;
}

input, button {
  background-color: white;
}

li>.dl-x {
  width: calc(100% - 30px);
}

.dl-x dt {
  float: left;
  width: 25%;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-x dd {
  margin-left: calc(25% + 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.dl-b {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.dl-b:first-child {
  padding-top: 20px;
}


.dl-b:last-child {
  border-bottom: none;
  padding-bottom: 0;
}


.dl-xs dt {
  width: calc(5.5ch);
}

.dl-xs dd {
  margin-left: calc(5.5ch + 20px);
}

.panel-title>a {
  color: #337ab7;
  text-decoration: none;
}
.panel-title>a:hover,
.panel-title>a:focus {
  color: #23527c;
  text-decoration: underline;
}
.panel-title>a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

