<script type="text/ng-template" id="stuffValue">
  <span ng-switch="displayType(key, value)">
    <span ng-switch-when="link">
      <a href="{{uiLink(value)}}">{{value}}</a>
    </span>
    <span ng-switch-when="array">
      <span ng-include="'stuffArray'"></span>
    </span>
    <span ng-switch-when="dict">
      <span ng-include="'stuffTree'"></span>
    </span>
    <span ng-switch-default>
      {{value}}
    </span>
  </span>
</script>

<script type="text/ng-template" id="stuffArray">
  <ol start="0">
    <li ng-repeat="(key, value) in value"> 
      <span ng-include="'stuffValue'"></span>
    </li>
  </ol>
</script>

<script type="text/ng-template" id="stuffTree">
  <ul>
    <li ng-repeat="(key, value) in value"> 
      {{key}}:
      <span ng-include="'stuffValue'"></span>
    </li>
  </ul>
</script>

<div ng-include="'stuffTree'"></div>


