<span ng-switch="::type(value)">
  <span ng-switch-when="object">
    <ng-include src="'views/pc-tree-object.html'" />
  </span>

  <span ng-switch-when="array">
    <ng-include src="'views/pc-tree-array.html'" />
  </span>

  <span ng-switch-when="null">
    <code> null </code>
  </span>

  <span ng-switch-when="href">
    <a href="{{ ::value }}">{{ ::value }}</a>
  </span>

  <span ng-switch-when="string" class="monospace">
    {{ ::value }}
  </span>

  <span ng-switch-default>
    <code> {{ ::value }} </code>
  </span>
</span>
