<main>
  <header class="page-header">
    <h1> Top Buckets </h1>
  </header>

  <form class="form-inline" ng-submit="search()">
    <div class="form-group">
      <label for="date-in"> Search buckets since </label>
      <input type="text"
             id="date-in"
             ng-model="search.date"
             view="date"
      >
    </div>

    <div class="form-group">
      <label for="project-in"> Project </label>
      <select ng-model="search.project" class="form-control" id="project-in">
        <option value="*"> All projects </option>
        <option disabled> &mdash; </option>
        <!-- TODO: get list of projects. -->
        <option ng-repeat="project in ::projects" value="{{ ::project }}">
          {{ ::project }}
        </option>

      </select>
    </div>

    <div class="form-group">
      <label for="thresh=in"> Threshold </label>
      <input type="range" id="thresh-in" ng-model="search.thresholdIndex"
             min="0" max="{{ thresholds.length - 1}}" value="0" />
      <span class="help-block"> <!-- TODO: write help text here!  --> </span>
      <output>{{ search.threshold }}</output>
    </div>

    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
     </button>
  </form>

  <p ng-if="loading"> Loading... </p>
  <p ng-if="errorMessage">{{ errorMessage }}</p>

  <div ng-if="!loading && hasResults" class="description">
    Since {{ results.since | fromNow }}
  </div>
  <div ng-if="!loading && !hasResults && !errorMessage">
    No top buckets since {{ results.since | date:'medium' }}
  </div>

  <div ng-if="hasResults" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Bucket </th>
          <th> Project </th>
          <th> First Seen </th>
          <th> Keywords </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="bucket in results.top_buckets">
          <td>{{ $index + 1 + search.from }}</td>
          <td>
            <a href="{{ ::bucket | uiUrl:'bucket' }}">
              <ng-pluralize count="bucket.total"
                when="{ 'one': '1 crash', 'other': '{} crashes' }" />
            </a>
          </td>
          <td>{{ ::bucket.project }}</td>

          <td>{{ ::bucket.first_seen | fromNow }}</td>
          <td>
            <span pc-summary database-id="bucket.database_id" project="bucket.project"/>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="prevPage()" class="btn btn-default" ng-hide="search.from <= 0">Previous Page</button> 
    <button ng-click="nextPage()" class="btn btn-default">Next Page</button>
  </div>

</main>
