<main>
  <header class="page-header">
    <h1> Top Crashes </h1>
    <p ng-if="!loading" class="description"> Since {{ results.since | fromNow }} </p>
  </header>

  <p ng-if="loading"> Loading... </p>

  <div ng-if="!loading && !hasResults">
    No top buckets since {{ results.since | date:'medium' }}
  </div>

  <div ng-if="hasResults" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th> Bucket </th>
          <th> Project </th>
          <th> Last Seen </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="bucket in results.top_buckets">
          <td>{{ $index + 1 }}</td>
          <td>
            <a href="{{ ::bucket | uiUrl:'bucket' }}">
              <ng-pluralize count="bucket.total"
                when="{ 'one': '1 crash', 'other': '{} crashes' }" />
            </a>
          </td>
          <td>{{ ::bucket.project }}</td>
          <td>{{ ::bucket.last_seen | fromNow }} </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>
