<main class="container-fluid">
  <header class="page-header row">
    <h1> Crash {{ ::crash.id }}
      <small>{{ ::crash.project }}</small>
    </h1>
  </header>

  <div class="row" ng-if="crash">
    <div class="col-md-5">
      <section class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-x">
            <dt> Project </dt>
            <dd>{{ ::crash.project }}</dd>
            <dt> Date </dt>
            <dd ng-if="date">{{ ::date | date:'medium' }} ({{ date | fromNow }})</dd>
            <dt> OS </dt>
            <dd>{{ ::crash.os }}</dd>
            <dt ng-if="::crash.build"> Build </dt>
            <dd ng-if="::crash.build">{{ ::crash.build }}</dd>
            <dt ng-if="::crash.version"> Version </dt>
            <dd ng-if="::crash.version">{{ ::crash.version }}</dd>
            <dt> Keywords </dt>
            <dd> <span pc-summary database-id="crash.id" project="crash.project"/> </dd>
          </dl>

        </div>
      </section>

      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Buckets</h3>
        </div>
        <div class="panel-body">
        <dl class="dl-x dl-xs">
          <dt ng-repeat-start="bucket in buckets">{{bucket[0]}}</dt>
          <dd ng-repeat-end>
            <a href="{{::bucket[1] | uiUrl: 'bucket'}}">{{bucket[1].id}}</a>
            (<ng-pluralize count="bucket[1].total" when="{ 'one': '1 crash)', 'other': '{} crashes)' }"/>
          </dd>
        </dl>
        </div>
      </section>

      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Precedents</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-x dl-b" ng-repeat="precedent in precedents">
            <dt>Report</dt>
            <dd><a href="{{ ::precedent | uiUrl:'report' }}">{{ ::precedent.id }}</a></dd>
            <dt>Stacktrace</dt>
            <dd><span mini-trace crash="precedent"></span></dd>
            <dt>Keywords</dt>
            <dd><span pc-summary database-id="precedent.id" project="precedent.project"></span></dd>
            <dt>Score</dt>
            <dd>{{ precedent.score }}</dd>
          </dl>
        </div>
      </section>
    </div>

    <div class="col-md-7">
    <section class="stack-trace panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stacktrace</h3>
      </div>
      <div class="panel-body">
        <ol class="list-group">
          <li ng-repeat="frame in ::stack" class="stack-frame list-group-item">
            <dl class="dl-x">
              <dt ng-if="frame.func"> Function </dt>
              <dd ng-if="frame.func">
                <code>{{ ::frame.func }}</code>
                <small ng-if="frame.filename">
                  {{ ::frame.filename }}{{ ::frame.line ? ':' + frame.line : '' }}
                </small>
              </dd>
              <dt ng-if="frame.address"> Address </dd>
              <dd ng-if="frame.address">{{ ::frame.address }}</dd>
              <dt ng-repeat-start="(key, value) in ::frame.others">
                <small>{{ ::key }}</small>
              </dt>
              <dd ng-repeat-end>
                <small style="white-space: pre-line;">{{ ::value }}</small>
              </dd>
            </dl>
          </li>
        </ol>
      </div>
    </section>
    </div>

    <div class="col-md-12">
    <section class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">More information</h3>
      </div>
      <div class="panel-body">
        <pc-tree value="context" />
      </div>
    </section>
    </div>
  </div>


  <footer class="row">
    <a href="{{ ::crash.href }}" class="btn btn-default"> View Raw Report </a>
  </footer>
</main>
