<main>
  <header class="page-header row">
    <h1> Crash {{ ::crash.id }}
      <small>{{ ::crash.project }}</small>
    </h1>
  </header>

  <div class="row">
    <div class="col-md-8">
      <div class="important-metadata">
        <dl class="dl-horizontal">
          <dt> Date </dt>
          <dd>{{ ::crash.date | date:'medium' }}</dd>
          <dt> OS </dt>
          <dd>{{ ::crash.os }}</dd>
          <dt ng-if="::crash.build"> Build </dt>
          <dd ng-if="::crash.build">{{ ::crash.build }}</dd>
          <dt ng-if="::crash.version"> Version </dt>
          <dd ng-if="::crash.version">{{ ::crash.version }}</dd>
        </dl>
      </div>

      <hr/>

      <div class="stack-trace">
        <ol ng-init="stack = crash.stackTrace">
          <li ng-repeat="frame in ::stack" class="stack-frame">
            <dl class="dl-horizontal">
              <dt ng-if="frame.func"> Function </dt>
              <dd ng-if="frame.func">
                <code>{{ ::frame.func }}</code>
                <small ng-if="frame.filename">
                  {{ ::frame.filename }}{{ ::frame.line ? ':' + frame.line : '' }}
                </small>
              </dd>
              <dt ng-if="frame.address"> Address </dd>
              <dd ng-if="frame.address">{{ ::frame.address }}</dd>
            </dl>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <footer class="row">
    <a href="{{ ::crash.href }}" class="btn btn-default"> View Raw Report </a>
  </footer>
</main>
