<main>
  <header class="page-header">
    <h1> Crash Search </h1>
  </header>

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" ng-submit="search()">
        <div class="form-group">
          <label for="date-in"> Search for </label>
          <input type="text"
                id="query-in"
                ng-model="search.query"
          >
        </div>
        in
        <div class="form-group">
          <label for="project-in"> Project </label>
          <select ng-model="search.project" class="form-control" id="project-in">
            <option value="*"> All projects </option>
            <option disabled> &mdash; </option>
            <option ng-repeat="project in ::projects" value="{{ ::project }}">
              {{ ::project }}
            </option>

          </select>
        </div>
        <div class="form-group">
          <label for="date-in"> in crashes since </label>
          <input type="text"
                id="date-in"
                ng-model="search.since"
                view="date"
          >
          <label for="until"> until </label>
          <input type="text"
                id="until"
                ng-model="search.until"
                view="date"
          >
        </div>

        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="panel panel-default latest-crashes">
        <header class="panel-heading">
          <h2 class="panel-title"> Results </h2>
        </header>
        <div class="panel-body">
          <p ng-if="loading"> Loading... </p>
          <p ng-if="errorMessage">{{ errorMessage }}</p>
          <p ng-if="!hasResults"> No results found. </p>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="crash in reports">
              <a href="{{ ::crash | uiUrl: 'report' }}">{{ ::crash.id }}</a>
              from {{ ::crash.project }} {{ ::crash.date | fromNow }}, keywords:
              <span pc-summary database-id="crash.id" project="crash.project"/>
            </li>
          </ul>

          <!-- TODO: support pagination.
          <button ng-click="prevPage()" class="btn btn-default" ng-hide="from <= 0">Previous Page</button>
          <button ng-click="nextPage()" class="btn btn-default">Next Page</button>
          -->
        </div>
      </section>
    </div>
  </div>

</main>
