<main>
  <header class="page-header row">
    <h1> Bucket {{ ::bucket.id }} <small class="bucket-total">
      <ng-pluralize count="::bucket.total"
        when="{ 'one': '1 crash', 'other': '{} crashes' }" />
        total
      </small></h1>
  </header>

  <section class="bucket-summary">
    <dt> First Seen </dt>
    <dd> TODO </dd>
    <dt> Last Seen </dt>
    <dd> TODO </dd>
    <dt> Versions </dt>
    <dd> TODO </dd>
    <dt> OSes </dt>
    <dd> TODO </dd>
    <dt> Builds </dt>
    <dd> TODO </dd>
  </section>

  <hr>

  <section class="panel panel-default latest-crashes">
    <header class="panel-heading">
      <h2 class="panel-title"> Sample Stack Traces </h2>
    </header>
    <div class="panel-body stack-traces">
      <div class="panel panel-default">
        <header class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Bucket ID or whatever</a>
          </h3>
        </header>
        <ol class="mini stack-trace list-group">
          <li class="stack-frame list-group-item"> TODO </li>
        </ol>
      </div>
    </div>
  </section>

  <section class="panel panel-default latest-crashes">
    <header class="panel-heading">
      <h2 class="panel-title"> Latest Crashes </h2>
    </header>

    <ul class="list-group" ng-repeat="crash in ::bucket.top_reports">
      <li class="list-group-item"><a href="{{ ::crash.href }}">{{ ::crash.id }}</a></li>
    </ul>
  </section>
</main>
