<main>
  <header class="page-header">
    <h1> Bucket {{ ::id }} </h1>
  </header>

  <h2> Latest Crashes </h2>
  <p> Total: {{ ::total }} </p>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th> # </th>
          <th> Project </th>
          <th> Seen </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat-start="report in top_reports">
          <td rowspan="2">{{ $index + 1 }}</td>
          <td>{{ ::report.project }}</td>
          <td>{{ ::report.date | fromNow }} </td>
        </tr>

        <tr ng-repeat-end>
          <td colspan="2">
            <pc-tree value="report" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
