<main>
  <header class="page-header row">
    <h1> Bucket {{ ::bucket.id }} <small class="bucket-total">
      <ng-pluralize count="::bucket.total"
        when="{ 'one': '1 crash', 'other': '{} crashes' }" />
        total
      </small></h1>
  </header>

  <div class="row">
    <div class="col-md-5">
      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Summary</h3>
        </div>
        <div class="panel-body">
          <dl>
          <!--
          <dt> First Seen </dt>
          <dd> TODO </dd>
          <dt> Last Seen </dt>
          <dd> TODO </dd>
          -->
            <dt> Versions </dt>
            <dd ng-if="versions">{{ ::versions.join(', ') }}</dd>
            <dd ng-if="!versions"><em> No information </em></dd>
            <dt> OSes </dt>
            <dd ng-if="oses">{{ ::oses.join(', ') }}</dd>
            <dd ng-if="!oses"><em> No information </em></dd>
            <dt> Builds </dt>
            <dd ng-if="builds">{{ ::builds.join(', ') }}</dd>
            <dd ng-if="!builds"><em> No information </em></dd>
          </dl>
        </div>
      </section>
    </div>
    <div class="col-md-7">
      <section class="panel panel-default latest-crashes">
        <header class="panel-heading">
          <h2 class="panel-title"> Latest Crashes </h2>
        </header>
        <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="crash in ::bucket.reports">
            <a href="{{ ::crash | uiUrl: 'report' }}">{{ ::crash.id }}</a> {{ ::crash.date | fromNow }}
          </li>
        </ul>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
  <div class="col-md-12">
  <section class="panel panel-default latest-crashes">
    <header class="panel-heading">
      <h2 class="panel-title"> Sample Stack Traces </h2>
    </header>
    <div class="panel-body stack-traces">
      <div ng-repeat="report in ::sampleReports"
           class="panel panel-default stack-trace-panel">
        <header class="panel-heading">
          <h3 class="panel-title">
            <a href="{{ ::report | uiUrl:'report' }}">{{ ::report.id }}</a>
          </h3>
        </header>
        <ol class="mini stack-trace list-group">
          <li ng-repeat="frame in ::report.stackTrace"
              class="stack-frame list-group-item">
            <code ng-if="frame.func">{{ ::frame.func }}</code>
            <small ng-if="frame.filename">
              {{ ::frame.filename }}{{ ::frame.line ? ':' + frame.line : '' }}
            </small>
            <span ng-if="frame.address">({{ ::frame.address }})</span>
          </li>
        </ol>
      </div>
    </div>
  </section>
  </div>
  </div>

</main>
