@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Colors ------------------------------------------------------------------- */

:root {
    --light: #FFEBC2;
    --mlight: #FFAB00;
    --medium: #FFC349;
    --mdark: #BC7F00;
    --dark: #5C3E00;
}

/* General style ------------------------------------------------------------ */

input, select, button {
    line-height: 1.5;
    font-size: 100%;
    font-family: DejaVu Sans,Helvetica Neue,Helvetica,sans-serif; 
}

input:focus {
    border: none;
    outline: 1px dotted black;
}

input:focus ~ label {
    background-color: var(--light) !important;
}

input[type=range] {
    margin: 0;
/*     border: none; */
    padding: 0;
    max-height: 1em;
}

.labeled-input {
    display: inline-block;
    border: 2px solid var(--mdark);
    border-radius: 0.5em;
    background: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: white;
    color: black;
    height: 1.75em;
}

.labeled-input.open {
    border-radius: 0.5em 0.5em 0 0;
}

.labeled-input>div {
    line-height: 1.5;
    padding-top: 1px;
    padding-bottom: 1px;
}

.labeled-input>pc-threshold-select {
    line-height: 1.5;
    padding-top: 1px;
    padding-bottom: 1px;
}

.labeled-input>select {
    margin-top: 2px;
    margin-bottom: 2px;
}

.labeled-input>* {
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.5;
    margin-right: -0.5em;
    padding-right: 0.5em;
}

.labeled-input>input,
.labeled-input>radiotator>input {
    vertical-align: baseline;
    margin-left: 0;
    padding-left: 0;
    border: none;
    background: transparent;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
}

/*select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-top: 0.06em;
  padding-bottom: 0.06em;
  padding-right: 2em;
  background-color: transparent;
  border: none;
  background-image: url("%%node_modules%%/genericons-neue/svg-min/expand.svg");
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: right 0.25em center;
  margin-right: 0;
  margin-left: 0;
}*/

.selectator {
    display: inline-block;
    padding-right: 2.25em;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right 0.25em center;
}

.selectator-stator {
    width: 100%;
}


.selectator.open {
    background-image: url("%%node_modules%%/genericons-neue/svg-min/collapse.svg");
}

.selectator.closed {
    background-image: url("%%node_modules%%/genericons-neue/svg-min/expand.svg");
}

.labeled-input+.dropdown,
.labeled-input .dropdown
{
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
    border: 2px solid var(--mdark);
    border-radius: 0 0 0.5em 0.5em;
    border-top: none;
    margin: 0;
    margin-top: -2px;
}

.labeled-input input.selectator-stator {
    display: block;
    background: transparent;
    border: none;
    color: black;
}

.labeled-input input {
    margin-top:1px;
}

.selectator-options {
    flex-direction: column;
    align-items: center;
}

.datey-tips {
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
    color: gray;
}

.date {
    padding-right: 2.25em;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right 0.25em center;
    background-image: url("%%node_modules%%/genericons-neue/svg-min/month.svg");
}

.date>input {
    width: 13em;
}

.date>label {
}
/* Page layout -------------------------------------------------------------- */

body {
  padding: 0;
  margin: 0;
  background: white;
  color: black;
  font-family: DejaVu Sans,Helvetica Neue,Helvetica,sans-serif; 
}

body>header {
  border: 1px solid var(--medium);
  background: var(--medium);
  width: 100%;
/*   position: fixed; */
  top: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.row>* {
  margin: 0.5em;
  vertical-align: baseline;
}

div.filters {
    background: var(--light);
}

body>header .logo>a {
  font-size: xx-large;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header .logo+.labeled-input {
  display: block;
  flex-grow: 1;
}

.labeled-input.q {
  background-image: url("%%node_modules%%/genericons-neue/svg-min/search.svg");
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: left 0.25em center;
  padding-left: 1.75em;
}

body>main {
  padding: 1em;
}

pc-threshold-select {
    display: inline-block;
    height: 100%;
}

.filter-config {
    display: inline-block;
    border: 2px solid var(--dark);
    border-radius: 0.5em;
    line-height: 1.5;
    padding-left: 0.5em;
    background: var(--mdark);
    color: white;
    padding-right: 2em;
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: right 0.25em center;
    text-decoration: none;
    background-image: url("%%node_modules%%/genericons-neue/svg-min/cog.svg");
    margin-left: auto;
}

/* Remove border top when colspan is explicitly provided. */
.table > tbody > tr > td[colspan] {
  border: 0;
}

/* Make the disclosure buttons for the JSON tree widget thing. */
.disclosure:not(:checked) ~ .disclosure-contents {
  display: none;
}
.disclosure:not(:checked) ~ .disclosure-button .disclosure-hide {
  display: none;
}
.disclosure:checked ~ .disclosure-button .disclosure-show {
  display: none;
}

input[type=checkbox].disclosure {
    position: absolute;
    left: -9999px;
}

.disclosure ~ .disclosure-button {
/*     border: 2px solid black; */
    cursor: pointer;
    padding-left: 1.25em;
    background-color: white;
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: top 0em center;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1em;
    position: absolute;
    top: -1.25em;
    left: -2.75em;
/*    margin-right: 0.25;
    margin-left: calc(-1em + 1px);*/
}

.disclosure:not(:checked) ~ .disclosure-button {
    background-image: url("%%node_modules%%/genericons-neue/svg-min/expand.svg");
}


.disclosure:checked ~ .disclosure-button {
    background-image: url("%%node_modules%%/genericons-neue/svg-min/collapse.svg");
}

.disclosure-contents {
    display: block;
/*     border: 2px solid black; */
    margin: 0;
/*     margin-left: 0.25em; */
    width: 100%;
}

ol.disclosure-contents {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
}

dl.disclosure-contents>dt {
    display: block;
    font-weight: normal;
}

ol.disclosure-contents>li {
    list-style-type: decimal;
}

ol.disclosure-contents>li>* {
    display: block;
}


dl.disclosure-contents>dd {
    display: block;
    margin: 0;
}


.disclosure-containment {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: self-start;
    justify-content: left;
/*     border: 1px solid red; */
/*     margin-left: 2em; */
}

pc-tree {
    display: block;
/*     border: 1px solid blue; */
    padding-left: 1.375em;
}

pc-error {
    display: block;
    overflow: hidden;
}

.result {
    display: block;
    overflow: hidden;
}

.monospace {
  font-family: monospace;
}

.dateparent {
  display: inline-block;
  position: relative;
  height: 0;
}

.datetip {
  display: none;
  z-index: 10;
  border: 2px solid black;
  position: absolute;
  padding: 0.5em;
  left: 0px;
  bottom: 0.5em;
  background: white;
  white-space: nowrap;
}

.filter-set {
    max-height: 1.5em;
    max-width: 1.5em;
    width: auto;
    height: auto;
    overflow: hidden;
}

.labeled-input.q>input {
  width: 100%;
}

.row-label {
  font-weight: bold;
}

#type input {
    width: 8em;
}

input#bucket {
    width: 8em;
}

#project input {
    width: 8em;
}

@keyframes l {
    0% { color: aqua; 
        
    }
    10% { color: blue;}
    20% { color: chartreuse;}
    30% { color: cyan;}
    40% { color: darkorange;}
    50% { color: deeppink;}
    60% { color: deepskyblue; }
    70% { color: fuchsia; }
    80% { color: gold; }
    90% { color: greenyellow; }
    100% { color: aqua; }
}

.loading {
    text-align: center;
    font-size: 600%;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.loading :nth-child(11n+1) {
    animation-delay: 0.4s;
    animation-name: l;
    animation-duration: 4.4s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+2) {
    animation-delay: 0.8s;
    animation-name: l;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+3) {
    animation-delay: 1.2s;
    animation-name: l;
    animation-duration: 4.8s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+4) {
    animation-delay: 1.6s;
    animation-name: l;
    animation-duration: 4.2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+5) {
    animation-delay: 2.0s;
    animation-name: l;
    animation-duration: 4.6s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+6) {
    animation-delay: 2.4s;
    animation-name: l;
    animation-duration: 4.1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+7) {
    animation-delay: 2.8s;
    animation-name: l;
    animation-duration: 4.3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+8) {
    animation-delay: 3.2s;
    animation-name: l;
    animation-duration: 4.7s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+9) {
    animation-delay: 3.6s;
    animation-name: l;
    animation-duration: 4.9s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.loading :nth-child(11n+10) {
    animation-delay: 4.0s;
    animation-name: l;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
