<div class="result-table">
  <table class="striped">
    <thead>
      <tr>
        <th> Size<a>*</a> </th>
        <th> First Seen </th>
        <th> Last Seen </th>
        <th> Common Stacktrace<a>*</a> </th>
        <th> Common Features </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="bucket in buckets track by $index">
        <td>
          <a href="{{ ::bucket.reports | uiUrl }}">
            {{ ::bucket.total }} Reports
          </a>
        </td>
        <td>
          {{ ::bucket.first_seen | fromNow }}
        </td>
        <td>
          {{ ::bucket.last_seen | fromNow }}
        </td>
        <td>
          <span mini-trace reports="::bucket.reports"></span>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
