<div class="counts">
  <table class="body-striped">
    <thead>
      <tr>
        <th> Field </th>
        <th> Value </th>
        <th> Count </th>
      </tr>
    </thead>

    <tbody ng-repeat="(field, values) in counts">
      <tr>
        <td rowspan="{{ values.length }}" class="field">{{ ::field }}</td>
        <td>{{ ::values[0][0] }}</td>
        <td>{{ ::values[0][1] }}</td>
      </tr>
      <tr ng-repeat="count in values.slice(1)">
        <td>{{ ::count[0] }}</td>
        <td>{{ ::count[1] }}</td>
      </tr>
    </tbody>
  </table>
</div>
