      <form class="">
        <div class="row">
          <div class="logo">
            <a href="%%basehref%%">🎉💥 PartyCrasher </a>
          </div>
          <input type="search" class="q" name="q" ng-model="q"/>
        </div>
        <div class="row">
          <div class="labeled-input">
            <label for="report_type">Type</label>
            <select name="report_type" id="report_type" ng-model="report_type">
                <option value="*">All types</option>
                <option disabled="" value=" — "> — </option>
            </select>
          </div>
          <div class="labeled-input">
            <label for="project">Project</label>
            <select name="project" id="project" ng-model="project">
                <option value="*">All projects</option>
                <option disabled="" value=" — "> — </option>
            </select>
          </div>
          <div class="labeled-input">
            <label for="since">Since</label>
            <input name="since" class="date" id="since" ng-model="since"/>
          </div>
          <div class="labeled-input">
            <label for="until">Until</label>
            <input name="until" class="date" id="until" ng-model="until"/>
          </div>
          <div class="labeled-input">
            <label for="">Bucket</label>
            <input name="bucket" class="date" id="bucket"/>
          </div>
          <img class="filter-set" alt="Add or remove filters"
           src="{{COG_IMAGE}}"/>
        </div>
        <div class="row">
          <div class="labeled-input">
            <label for="project">Group by</label>
            <select name="grouping" id="grouping" ng-model="grouping">
              <option value="">Report (no grouping)</option>
              <option value="bucket">Automatic bucket</option>
              <option disabled="" value=" — "> — </option>
            </select>
            <pc-threshold-select 
              threshold="threshold" 
              ng-show='grouping == "bucket"'
              class="labeled-input"
            >
            </pc-threshold-select>
          </div>
          <img class="filter-set" alt="Add or remove grouping options"
           src="{{COG_IMAGE}}"/>
        </div>
      </form>
    
    <main class="container-fluid">
          <!--[if lte IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <[endif]-->
    </main>
