<form class="">
  <div class="row">
    <div class="logo">
      <a href="{{basehref}}">🎉💥 PartyCrasher </a>
    </div>
    <div class="labeled-input q">
      <input type="search" name="q" ng-model="q"/>
    </div>
  </div>
  <div class="row filters">
    <div class="row-label">
      Filter by
    </div>
    <selectator 
      field="type"
      value="report_type"
      options="report_types"
    ></selectator>
    <selectator 
      field="project"
      value="project"
      options="projects"
    ></selectator>
    <datey field="since" value="since"></datey>
    <datey field="until" value="until"></datey>
    <div class="labeled-input">
      <label for="bucket">bucket</label>
      <input name="bucket" id="bucket" ng-model="bucket"/>
    </div>
    <a href="#" class="filter-config">Add/remove filters</a>
  </div>
  <div class="row">
    <div class="row-label">Group by</div>
    <div class="labeled-input">
      <radiotator
        field="grouping"
        value="grouping"
        options="groupings"
        names="grouping_names"
        single
      ></radiotator>
      <pc-threshold-select 
        threshold="threshold" 
        ng-show='grouping == "buckets"'
        class="sub-labeled"
      >
      </pc-threshold-select>
    </div>
    <div class="labeled-input" ng-show='grouping == "reports"'>
      <label for="report">Report</label>
      <input name="report" id="report" ng-model="report"/>
    </div>
    <a href="#" class="filter-config">Add/remove groupings</a>
  </div>
</form>

