<!--[if lte IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<[endif]-->
<div class="loading" id="loading" ng-if="loading">
  <span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span><span>.</span><span>.</span><span>.</span>
</div>
<div class="not-loading" ng-if="!loading">
  Loading...
</div>
<pc-error class="pc-error" id="pc-error" error="error" ng-if="error">
</pc-error>
<div class="summary" ng-if="counts">
  <pc-counts counts="counts"></pc-counts>
</div>
<div class="result" ng-if="buckets">
  <div class="result-head">
    <h1 class="result" > Buckets</h1>
    <span class="search-desc">
      Showing threshold {{ threshold }}
      buckets containing reports with
      <span ng-if="type">
        type {{ type }}
      </span>
      <span ng-if="project">
        in project {{ project }}
      </span>
      <span ng-if="since">
        since {{ since }} (first seen will be limited to this date)
      </span>
      <span ng-if="until">
        until {{ until }}
      </span>
      <span ng-if="query_string">
        and matching {{ query_string }}
      </span>.
      <span ng-if="search">
        <a href="{{ search | uiUrl }}">Link to this search.</a>
      </span>
    </span>
  </div>
  <buckets-table buckets="buckets"></buckets-table>
</div>
<div class="result" ng-if="reports">
  <div class="result-head">
    <h1 class="result" > Reports</h1>
    <span class="search-desc">
      Showing reports from
      <span ng-if="type">
        type {{ type }}
      </span>
      <span ng-if="project">
        project {{ project }}
      </span>
      <span ng-if="since">
        since {{ since }}
      </span>
      <span ng-if="until">
        until {{ until }}
      </span>
      <span ng-if="bucket_id">
        in bucket {{ bucket_id }} (Threshold = {{ threshold }})
      </span>
      <span ng-if="query_string">
        matching {{ query_string }}
      </span>.
      <span ng-if="search">
        <a href="{{ search | uiUrl }}">Link to this search.</a>
      </span>
    </span>
  </div>
  <reports-table reports="reports"></reports-table>
</div>
<div class="pager" ng-if="size">
  Showing results {{ from }} to {{ from + size }} of {{ total }}.
  <a href="{{ prev_page | uiUrl }}" ng-if="prev_page">
    Previous {{ size }}
  </a>
  <a href="{{ next_page | uiUrl }}" ng-if="next_page">
    Next {{ size }}
  </a>
</div>
<div class="result" ng-if="types">
  <div class="result-head">
    <h1 class="result" >Report Types </h1>
    <!--<span class="search-desc">Showing raw result.</span>-->
  </div>
  <div class="result-body">
    <ul>
      <li ng-repeat="(type, typedata) in types">
        <a href="{{::typedata.reports | uiUrl}}">{{ type }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="result" ng-if="projects">
  <div class="result-head">
    <h1 class="result" >Reporting Projects </h1>
    <!--<span class="search-desc">Showing raw result.</span>-->
  </div>
  <div class="result-body">
    <ul>
      <li ng-repeat="(project, projectdata) in projects">
        <a href="{{::projectdata.reports | uiUrl}}">{{ project }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="result" ng-if="store">
  <div class="result-head">
    <h1 class="result" > Status</h1>
    <span class="search-desc">
      PartyCrasher backend status.
    </span>
  </div>
  <p ng-if="version">
    Connected to PartyCrasher version {{ version }} at
    <a href="{{ href }}">{{ href }}</a>
  </p>
  <p ng-if="store.connected">
    Connected to database.
    Database status: <span class="status {{ store.health.status }}">{{ store.health.status }}</span>.
    {{ store.health.active_shards_percent_as_number }}% online.
    Load: {{ store.health.number_of_pending_tasks }}.
  </p>
</div>
<div class="result" ng-if="result">
  <div class="result-head">
    <h1 class="result" >Unknown Result </h1>
    <span class="search-desc">Showing raw result.</span>
  </div>
  <div class="result-body">
    <pc-tree value="result">
  <div>
</div>
