<div class="disclosure-containment">
  <input id="disclosure-{{ ::$id }}" type="checkbox" class="disclosure">
  <label class="disclosure-button" for="disclosure-{{ ::$id }}">
    <span class="disclosure-show">Show more</span>
    <span class="disclosure-hide">Hide</span>
  </label>
  <ol class="disclosure-contents dl-horizontal">
    <li ng-repeat="value in ::value track by $index">
      <pc-tree value="value" />
    </li>
  </ol>
  <label class="disclosure-fader"
    for="disclosure-{{ $id }}">
  </label>
</div>
