<span ng-switch="type(value)">
  <span ng-switch-when="object" class="">
    <ng-include src="'views/pc-tree-object.html'"></ng-include>
  </span>

  <span ng-switch-when="array">
    <ng-include src="'views/pc-tree-array.html'"></ng-include>
  </span>

  <span ng-switch-when="null">
    <code> null </code>
  </span>

  <span ng-switch-when="href">
    <a href="{{ ::value }}">{{ ::value }}</a>
  </span>

  <span ng-switch-when="string" 
        class="monospace" 
        style="white-space: pre-line;">{{ ::value }}</span>

  <span ng-switch-default>
    <code> {{ ::value }} </code>
  </span>
</span>
