<div class="result-table">
  <table class="striped">
    <thead>
      <tr>
        <th> ID </th>
        <th> Type </th>
        <th> Project </th>
        <th> Date </th>
        <th> Stacktrace </th>
        <th> Features </th>
        <th ng-if="false"> Keywords </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="crash in reports track by $index">
        <td>
          <a href="{{ ::crash.href | uiUrl }}">
            {{ ::crash.report.database_id }}
          </a>
        </td>
        <td>{{ ::crash.report.type.name }}</td>
        <td>{{ ::crash.report.project.name }}</td>

        <td>{{ ::crash.report.date | fromNow }}</td>
        <td>
          <span mini-trace crash="crash.report"></span>
        </td>
        <td>
          <table>
<!--            <thead>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>-->
            <tbody>
              <tr ng-repeat="field in fixed_fields">
                <td>{{ field }}</td>
                <td>{{ field | propertyByDotPath: crash.report }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td ng-if="false">
          <span pc-summary href="crash.href"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
