<div 
  class="labeled-input selectator"
  id="{{field}}"
  ng-class="{open: drop, closed: !drop}"
  ng-mousedown="toggle($event)"
>
  <input class="selectator-stator"
      id="{{field}}_stator"
      ng-focus="drop=true"
      ng-blur="checkFocus()"
      readonly=""
      value="{{field}} ({{number_selected}})"
      ng-click="$event.stopPropagation();"
  />
</div>
<fieldset
  class="selectator-options dropdown"
  ng-show="drop"
  ng-click="forceFocus($event)"
  ng-mouseup="forceFocus($event)"
>
    <div ng-repeat="optor in optors"
      class="selectator-option" 
      ng-click="forceFocus($event)"
      ng-mouseup="forceFocus($event)"
    >
      <input
        type="checkbox"
        id="{{optor.id}}"
        name="{{optor.name}}"
        ng-model="optor.selected"
        ng-focus="drop=true"
        ng-blur="checkFocus()"
        ng-click="$event.stopPropagation()"
        ng-mousedown="$event.preventDefault()"
        />
      <label 
        for="{{optor.id}}"
      >{{optor.name}}</label>
    </div>
</fieldset>
